<div class="crm-container">
  <div crm-ui-debug="$ctrl.myEvent"></div>
  <h1 crm-page-title>{{ts('Trial Application' )}}</h1>
  <form crm-ui-id-scope name="myAppl" ng-submit="submit()">

    <div class="help">
      <p>{{ts('The trial application form can be complex.  Please see the instructions before continuing.')}}</p>
    </div>
 
    <div crm-ui-accordion="{title: ts('Trial Applicant')}">
      <div class="crm-block">
        <div class="crm-group">
          <div crm-ui-field="{name: 'myAppl.first_name', title: ts('Name'), help: hs('full_name')}">
            <input
              crm-ui-id="myAppl.first_name"
              name="first_name"
              ng-model="$ctrl.myEvent.first_name"
              class="crm-form-text"
              placeholder="{{ts('First')}}"
              />
            <input
              crm-ui-id="myAppl.last_name"
              name="last_name"
              ng-model="$ctrl.myEvent.last_name"
              class="crm-form-text"
              placeholder="{{ts('Last')}}"
              />
            <input
              crm-ui-id="myAppl.email"
              name="email"
              ng-model="$ctrl.myEvent.email"
              class="crm-form-text"
              placeholder="{{ts('Email')}}"
              />
            </div>
            <div crm-ui-field="{name: 'myAppl.hosting_club', title: ts('Hosting Club'),}">
            <input
              crm-ui-id="myAppl.hosting_club"
              name="hosting_club"
              ng-model="$ctrl.myEvent.hosting_club"
              class="crm-form-text"
              />
          </div>
          <div crm-ui-field="{name: 'myAppl.location_name', title: ts('Trial Location'),}">
            <input
              crm-ui-id="myAppl.location_name"
              name="location_name"
              ng-model="$ctrl.myEvent.location_name"
              class="crm-form-text"
              />
          </div>
          <div crm-ui-field="{name: 'myAppl.street_address', title: ts('Address'),}">
            <input
              crm-ui-id="myAppl.street_address"
              name="street_address"
              ng-model="$ctrl.myEvent.street_address"
              class="crm-form-text"
              />
          </div>
          <div crm-ui-field="{name: 'myAppl.location_city', title: ts('Location City'),}">
            <input
              crm-ui-id="myAppl.location_city"
              name="location_city"
              ng-model="$ctrl.myEvent.location_city"
              class="crm-form-text"
              />
          </div>

          <div crm-ui-field="{name: 'myAppl.location_province', title: ts('Province')}">
            <input
              name="myAppl.location_province" crm-ui-id="myAppl.location_province" 
               crm-entityref="{entity: 'state_province', api: {params: {country_id: 1039, is_active: 1, options:{sort:'name'}}}, select: {allowClear: true, minimumInputLength: 0, placeholder: ts('Select Province')}}"
              ng-model="$ctrl.myEvent.location_province"
            />
          </div>
          <div crm-ui-field="{name: 'myAppl.venue_description', title: ts('Venue Description'),}">
            <textarea crm-ui-id="myAppl.venue_description" name="venue_description" ng-model="$ctrl.myEvent.venue_description" class="big crm-form-textarea"></textarea>
          </div>
          <div crm-ui-field="{name: 'myAppl.space_for_containers', title: ts('Space for Container Searches'),}">
            <textarea crm-ui-id="myAppl.space_for_containers" name="space_for_containers" ng-model="$ctrl.myEvent.space_for_containers" class="big crm-form-textarea"></textarea>
          </div>
          <div crm-ui-field="{name: 'myAppl.space_for_interior', title: ts('Space for Interior Searches'),}">
            <textarea crm-ui-id="myAppl.space_for_interior" name="space_for_interior" ng-model="$ctrl.myEvent.space_for_interior" class="big crm-form-textarea"></textarea>
          </div>
          <div crm-ui-field="{name: 'myAppl.space_for_exterior', title: ts('Space for Exterior Searches'),}">
            <textarea crm-ui-id="myAppl.space_for_exterior" name="space_for_exterior" ng-model="$ctrl.myEvent.space_for_exterior" class="big crm-form-textarea"></textarea>
          </div>
          <div crm-ui-field="{name: 'myAppl.staging_and_crating', title: ts('Space for Staging and Crating'),}">
            <textarea crm-ui-id="myAppl.staging_and_crating" name="staging_and_crating" ng-model="$ctrl.myEvent.staging_and_crating" class="big crm-form-textarea"></textarea>
          </div>
          <div crm-ui-field="{name: 'myAppl.space_for_secretary', title: ts('Space for the Secretary'),}">
            <textarea crm-ui-id="myAppl.space_for_secretary" name="space_for_secretary" ng-model="$ctrl.myEvent.space_for_secretary" class="big crm-form-textarea"></textarea>
          </div>
          <div crm-ui-field="{name: 'myAppl.space_for_judge', title: ts('Space for the Judge'),}">
            <textarea crm-ui-id="myAppl.space_for_judge" name="space_for_judge" ng-model="$ctrl.myEvent.space_for_judge" class="big crm-form-textarea"></textarea>
          <div crm-ui-field="{name: 'myAppl.confirm_square_footage', title: ts('Confirm Square Footage'),}">
            <input class="crm-form-checkbox" type="checkbox" ng-model="$ctrl.myEvent.confirm_square_footage"/>
          </div>
          <div crm-ui-field="{name: 'myAppl.confirm_judge_contacted', title: ts('Confirm Judge has been Contacted'),}">
            <input class="crm-form-checkbox" type="checkbox" ng-model="$ctrl.myEvent.confirm_judge_contacted"/>
          </div>
        
        </div>
        <div class="help">
          <p>{{ts('The next section is for identifying what components you want, each day, for each judge.')}}</p>
        </div>
        <div>
          
        <div ng-controller="TrialadminTrialApp">
           <a class="btn btn-link" ng-click="open()">Open</a>
           <ng-include src="'civicrm\/a\/#/trialadmin/Component'"></ng-include>
        </div>
      </div>
      <table border='1' cellpadding='5' cellspacing='5'><tr class="crm-entity" id="TrialComponents" style='border-bottom: 1px solid black'><th>Trial Number</th><th>Trial Date</th><th>Judge</th><th>Started</th><th>Advanced</th><th>Excellent</th><th>Elite Offered</th><th>Games</th></tr>
      </table>
      </div>
    </div>
  </form>

</div>
